* {
    padding: 0;
    margin: 0;
    color: #ddc091;
}

a {
    text-decoration: none;

}

.box {
    border: 0.1rem #ddc091;
    display: flex;
    height: 13lh;
    width: 60lh;
    box-shadow: 0 0.267em 0.4em #ddc091;
    overflow: hidden;
    margin-bottom: 1.067em;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-overflow: ellipsis;
    white-space: pre-wrap;

}



.box:hover {
    transform: translateY(-0.267em);
    background-color: white;
    box-shadow: 0 1em 1em #ddc091;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    padding: 3%;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;

}

img {
    padding: 1%;
    height: auto;
    width: 50%;
}
