* {
    padding: 0;
    margin: 0;
}

s .home-main {
    max-height: auto;

}

.heading {
    padding: 3%;
    color: #ddc091;
}

.container-home {

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    justify-content: center;
}