* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F1F0E8;

}

.container {

    background-color: rgb(87, 86, 86);
    display: flex;

    width: 100%;
    /* Ensure the container spans the full width of the viewport */
    font-size: 1.5rem;
    padding: 1.2rem;

    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.link {
    background-color: rgb(87, 86, 86);
    text-decoration: none;
    color: #96B6C5;
    color: white;
}

.sec-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    font-size: 9vh;
    font-weight: bold;
    color: #96B6C5;

}

.search-bar {
    height: 1lh;

    width: 15lh;
    border: #96B6C5 0.1rem solid;

}

.dropbtn {
    display: none;
}

@media screen and (max-width: 768px) {


    .name {
        font-size: 6vh;
    }

}
